[submodule "dependencies/yaml-cpp"]
	path = dependencies/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp/
[submodule "third-party/erpc"]
	path = third-party/erpc
	url = https://github.com/shenweihai1/erpc
[submodule "third-party/makocon"]
	path = third-party/makocon
	url = https://github.com/Jiyang-Wu/MakoCon
[submodule "third-party/rustycpp"]
	path = third-party/rusty-cpp
	url = https://github.com/shuaimu/rusty-cpp
